.mt05 {
    margin-top: 0.5rem !important;
}
.flex {
    display: flex;
}
.m05 {
    margin: 0.5rem !important;
    width: 25%
}
.typo-id {
    font-size: 0.688rem;
}
.typo-title {
    font-size: 0.875rem;
    font-weight: 600
}