.changepassword{
    width: 30rem;
    padding: 5rem;
    padding-left: 3rem;
    
 
    .image-contaner {
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: center;
      justify-content: left;
      .form-container {
        width: 80%;
        padding: 5%;
      }
    }
    
}

  