html,
body {
  margin: 0;
  font-family: 'DM Sans', sans-serif;
  background-color: rgb(229 229 229);
}
:root {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

.css-1h51icj-MuiAutocomplete-root 
.MuiOutlinedInput-root.MuiInputBase-sizeSmall 
.MuiAutocomplete-input {
    padding: 5px 5px 5px 5px;
}

/** font **/

@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url('../../public/font/DM_Sans/DMSans-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url('../../public/font/DM_Sans/DMSans-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../../public/font/DM_Sans/DMSans-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../../public/font/DM_Sans/DMSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../../public/font/DM_Sans/DMSans-Medium.ttf') format('truetype');
}

/** Sub title **/
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('../../public/font/DM_Sans/DMSans-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../../public/font/DM_Sans/DMSans-Bold.ttf') format('truetype');
}

/** Sub heading **/
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('../../public/font/DM_Sans/DMSans-ExtraBold.ttf') format('truetype');
}

/** Main heading **/
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('../../public/font/DM_Sans/DMSans-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 1000;
  font-display: swap;
  src: url('../../public/font/DM_Sans/DMSans-White.woff2') format('woff2');
}
