.login {
  .background {
    background: #f5f8ff;
    height: 100vh;
  }
  .image-contaner {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    .form-container {
      width: 29%;
      padding: 6%;
    }
    margin-top: 1rem;
  }
  .login-container {
    padding: 25% 10% 0% 10%;
  }
}
