.dashboard {
  .page-container {
    padding: 0.8rem 3rem 3rem 3rem;
    @media only screen and (max-width: 600px) {
      padding: 1rem;
    }
    margin-top: 4rem;
    .container {
      margin: 1rem 0rem 1rem 0rem;
    }
    .file-view-all {
      text-align: right;
    }
    .folder-view-all {
      text-align: right;
    }
    .mt-05 {
      margin-bottom: 0.5rem
    }
  }
}
